.table-chang{overflow: hidden;float: left;border-collapse: separate;border-spacing:5px}
.table-chang th{width: 60px;height: 30px;font-size:10px;font-weight: normal;text-align: center;background: #f3f3f3;}
.table-chang td{width: 60px;height: 30px;background: #FFF;text-align: center;color: #fff;font-size: 10px;padding:0px}
.table-chang td a{display: block;width: 100%;height: 100%;}
.table-chang td.access{background: #FFF;color:#A62A04;border: 1px dashed #A62A04;}
.table-chang td.unavailable{background: #F0F0F0;color:#C8C8C8}
.table-chang td.unPayed{background: #F0860C;}
.table-chang td div.unPayed{background: #F0860C;}
.table-chang thead th{font-size: 24px;-webkit-text-size-adjust:none;border:0px;background-color: #fff}
.table-chang thead span{ font-size:10px}
.table-chang thead tr .field_cell{width:60px;height:30px;}
.table-chang thead tr .time_cell{width:30px;height:30px;}
.table-chang tbody tr .time_cell {width:30px;height:30px;font-size:24px;color:#000;border:0px;background-color: #fff;}
.table-chang tbody tr .time_cell span{font-size:10px;float: right;position: relative;bottom:18px;}
.my-sel-place{overflow: hidden;margin-bottom: 10px;}
.my-sel-place li{text-align: center;height: 25px;line-height: 25px;
    overflow: hidden;border: 1px solid #5b9aef;margin-top: 7px;}
.my-order-right .changci .tips{font-size: 12px;text-align: center;margin-bottom:5px;}
.my-order-right .changci .tips span{font-size: 14px;color: #fb924d;display: inline-block;padding: 0 3px;}
.my-sel-place{overflow: hidden;margin-bottom: 10px;}
.my-sel-place li{text-align: center;height: 25px;line-height: 25px;
    overflow: hidden;border: 1px solid #5b9aef;margin-top: 7px;}
.my-order-right .changci .tips{font-size: 12px;text-align: center;margin-bottom:5px;}
.my-order-right .changci .tips span{font-size: 14px;color: #fb924d;display: inline-block;padding: 0 3px;}
.proj{margin-bottom: 5px;}
.date{margin-bottom: 5px;}
.total-price{text-align: center;}
.total-price em{color: #fb924d;}
.orange{color: #f49538;}
.settlement{color: #f00;}
.grey-bg-color{background: #dcdcdc;}
.green-bg-color{background: #53f06f;}
.blue-bg-color{background: #5fbfe9;}
.red-bg-color{background: #f00;}