html, body, table {
    background: url(../images/login.png) ;
    width: 100%;
    height: 100%;
    text-align: center;
}

.form-signin-heading {
    font-family: Helvetica, Georgia, Arial, sans-serif, 微软雅黑;
    text-align:center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #1e1e1e;
}

.form-signin {
    position: absolute;
    left:35%;
    top:25%;
    text-align: left;
    width: 598px;
    height: auto;
    margin-left:auto;
    margin-right:auto;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 10px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}
.login_form{
    padding-left: 86px;
    padding-right:86px;
    padding-top:40px;
    padding-bottom:40px;
}
.form-signin .checkbox {
    margin-bottom: 10px;
    color: #0663a2;
}

.form-signin .input-label {
    font-size: 16px;
    line-height: 23px;
    color: #999;
}

.form-signin .input-block-level {
    font-size: 16px;
    width: 100%;
    height: 56px;
    margin-bottom: 30px;
    padding: 7px;
    _padding: 7px 7px 9px 7px;
    border: 2px solid #4172c1;
    border-radius: 6px;
}

.form-signin .btn.btn-large {
    font-size: 16px;
}

.form-signin #themeSwitch {
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.form-signin div.validateCode {
    width: 100%;
    height: 56px;
    padding-bottom: 15px;
}

.mid {
    vertical-align: middle;
    height: 40px;
}

.header {
    height: 80px;
    padding-top: 20px;
}

.alert {
    position: relative;
    width: 300px;
    margin: 0 auto;
    *padding-bottom: 0px;
}

label.error {
    background: none;
    font-weight: normal;
    font-size: 18px;
    color: red;
    padding-left: 0;
    margin: 0;
}