<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:task="http://www.springframework.org/schema/task" xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd"
	   default-lazy-init="true">

	<description>Spring task</description>
	<!-- 计划任务配置，用 @Service @Lazy(false)标注类，用@Scheduled(cron = "0 0 2 * * ?")标注方法 -->
	<task:executor id="executor" pool-size="10"/> <task:scheduler id="scheduler" pool-size="10"/>
	<task:annotation-driven scheduler="scheduler" executor="executor" proxy-target-class="true"/>
	<bean id="orderTaskManager" class="com.bra.modules.task.OrderTaskManager"></bean>
	<task:scheduled-tasks>
		<!--这里表示每分钟执行一次-->
		<task:scheduled ref="orderTaskManager" method="cancelOrder" cron="0 */1 * * * ?" />
	</task:scheduled-tasks>
</beans>